*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body
{
    display: flex;
    flex-direction: row-reverse; 
    padding:0 25% 0 25% ;  
}
.privé
{
    width: 30%;
    border-top: solid black 0.3mm;
    border-left: solid black 0.3mm;
    border-bottom: solid black 0.3mm ;
}
.photo
{
    margin: 0cm;
    padding: 0cm;
}
#ident
{
    border-radius: 50%;
    margin:10% 10% 10% 10%;
    width: 80%;
}
.professionnel
{
    width: 70% ;
    padding: 5% 5% 10% 5%;
    border-top: solid black 0.3mm;
    border-right: solid black 0.3mm;
    border-bottom: solid black 0.3mm

}
h1
{
    font-size: 10mm;
    margin-bottom: 0em;
}
.prenom
{
    color:#2962FF ;
}
.fonction
{
    font-size: 25px;
    font-weight: bold;
    margin:0 ;
}
.entête
{
    padding-bottom: 50px;
}
.agent
{
    text-decoration: underline #2962ff ;
    text-underline-position: under;
}
.professionnel i
{
    color: #2962FF;
}
.professionnel h2
{
    border-bottom: solid #2962FF ;
    word-wrap: break-word;
    word-spacing: 1rem;
}
.far_fa-dot-circle
{
    color: #2962FF;
}
.maincorps
{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.maincorps1
{
    margin-left:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divcorps
{
    width: 70%;
}
.date
{
    font-weight: bold;
    padding-left: 0em;
    width: 30%;;
}
.date1
{
    font-weight: bold;
    padding-left: 0em;
    width: 26%;;
}
.premier 
{
    list-style-type:none;
}
.premier :last-child
{
    padding: 1.4em;
}
.recommandation
{
    display: flex;
}
.recommandation div
{ 
    width: 50%;

}
.privé
{ 
    background-color: #2962FF;
    display: flex;
    flex-direction: column;  
}
.privé h2
{
    text-align: center;
    background-color: black;
    color:#2962FF ;
    word-wrap: break-word;
}
.adresse
{
    text-align: left;
    word-wrap: break-word;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}
.monmot
{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.moi 
{
    flex-grow: 1;
}
.loisirs
{   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size:200%;
   
}
ul
{
    color: #2962FF;
}
.noir
{
    color: black;
}
@media all and (max-device-width: 480px)
{
    body 
    {display: flex;
    flex-direction: column;
    }
}
@media all and (max-width: 1024px)
{
    .fonction
    {font-size: 2vmax;}
    h1 
    {
        font-size: 2vmax;
    }
    h2 
    {
        font-size: 2vmax;
    }
    .professionnel 
    {
        font-size: 2vmax;
        border: none;
        width:100%;
    }
    .maincorps1
    {
        display: flex;
        flex-direction: column;
    }
    .maincorps
    {
        display: flex;
        flex-direction: column;
    }
    .recommandation
    {
        display: flex;
        flex-direction: column;
    }
    .privé
    {
        font-size: 2vmax;
        border: none;
        width: 100%;
    }
    body 
    {
        margin: 0cm;
        padding: 0cm;
    }
    .date
    {
        width: 100%;
    }
    .date1
    {
        width: 100%;
    }
    .divcorps
    {
        width: 100%;
        text-align:left;
    }
    .monmot
    {
        text-align:left;
    }
}
@media all and (max-width: 1210px)
{
    .maincorps1
    {
        display: flex;
        flex-direction: column;
    }
    .maincorps
    {
        display: flex;
        flex-direction: column;
    }
}
