*
{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
main
{
    display: flex;
    flex-direction: row-reverse; 
    margin: auto; 
    max-width: 1080px;
}
.prive
{
    width: 32%;
    border-top: solid black 0.3mm;
    border-left: solid black 0.3mm;
    border-bottom: solid black 0.3mm ;
}
.photo
{
    margin: 0cm;
    padding: 0cm;
}
#ident
{
    border-radius: 50%;
    margin:10% 10% 10% 10%;
    width: 80%;
}
.professionnel
{
    width: 68% ;
    padding: 5% 5% 10% 5%;
    border-top: solid black 0.3mm;
    border-right: solid black 0.3mm;
    border-bottom: solid black 0.3mm

}
h1
{
    font-size: 10mm;
    margin-bottom: 0em;
}
.prenom
{
    color:#2962FF ;
}
.fonction
{
    font-size: 25px;
    font-weight: bold;
    margin:0 ;
}
.entete
{
    padding-bottom: 50px;
}
.agent
{
    text-decoration: underline #2962ff ;
    text-underline-position: under;
}
.professionnel i
{
    color: #2962FF;
}
.professionnel h2
{
    border-bottom: solid #2962FF ;
    word-wrap: break-word;
    word-spacing: 1rem;
}
.far_fa-dot-circle
{
    color: #2962FF;
}
.maincorps
{
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.maincorps1
{
    margin-left:0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.divcorps
{
    width: 70%;
}
.divcorps1
{
    width:70%;
}
.date
{
    font-weight: bold;
    padding-left: 0em;
    width: 30%;;
}
.date1
{
    font-weight: bold;
    padding-left: 0em;
    width: 28%;;
}
.premier 
{
    list-style-type:none;
}
.premier :last-child
{
    padding: 1.4em;
}
.recommandation
{
    display: flex;
}
.recommandation div
{ 
    width: 50%;

}
.prive
{ 
    background-color: #2962FF;
    display: flex;
    flex-direction: column;  
}
.prive h2
{
    text-align: center;
    background-color: black;
    color:#2962FF ;
    word-wrap: break-word;
}
.adresse
{
    text-align: left;
    word-wrap: break-word;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}
.monmot
{
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.moi 
{
    flex-grow: 1;
}
.loisirs
{   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    font-size:150%;
}
.symb1
    {
        border-radius: 50%;
        border: 0.5mm solid black;
        padding: 4% 6% 4% 6%;
    }
.symb2
    {
        border-radius: 50%;
        border: 0.5mm solid black;
        padding: 4% 
    }   
ul
{
    color: #2962FF;
}
.noir
{
    color: black;
}
.noir1
{
    color: black;
}
@media all and (max-width: 480px)
{
    body 
    {display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 0;
    }
    .symb1
    {
        border-radius: 50%;
        border: 0.3mm solid black;
        padding: 5% 6% 2% 5%;
    }
.symb2
    {
        border-radius: 50%;
        border: 0.3mm solid black;
        padding: 4% 
    }   
    
}
@media all and (max-width: 1024px)

{
    main
    {
        display: flex;
        flex-direction: column;
    }
    .fonction
    {font-size: 1.8vmax;}
    h1 
    {
        font-size: 3vmax;
    }
    h2 
    {
        font-size:  1.8vmax;
       
    }
    .professionnel 
    {
        font-size: 2vmax;
        border: none;
        width:100%;
    }
    .professionnel div
    {
        font-size: 2vmax;
        border: none;
        width:100%;
    }
   
    .recommandation
    {
        display: flex;
        flex-direction: column;
    }
    .prive
    {
        font-size: 2vmax;
        border: none;
        width: 100%;
    }
    body 
    {
        margin: 0cm;
        padding: 0cm;
    }
    .date
    {
        width: 100%;
    }
    .date1
    {
        width: 100%;
    }
    .divcorps
    {
        width: 100%;
        text-align:left;
    }
    .monmot
    {
        text-align:left;
    }
    .maincorps
    {
        margin-left: 0;
        list-style: inside;
    }
    .noir1
    {
        padding: 5%;
    }
}
@media all and (max-width: 1210px)
{
    .maincorps1
    {
        display: flex;
        flex-direction: column;
    }
    .maincorps
    {
        display: flex;
        flex-direction: column;
    }
}
